
body {
  color: black;
  font-family: 'Anton', sans-serif;
}

h1 {
  font-size:20px;
}
.table{
  list-style: none;
  margin:0;
  padding:0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
li {
  background-color: #f1f1f1;
  width: 100%;
  height:250px;
  margin: 10px;
  display: flex;
  justify-content: center;
  font-size: 3em;
  align-items: center;
  cursor:pointer;
}
li:hover {
  background-color:#cac7c7;
}

li.selected {
  background-color: #75e8c2;
}

#div1{
  max-width:992px;
  margin:0 auto;
}

@media (min-width: 576px) { 
  body {
    color: green;
  }
  li{
    width: 46%;
  }
 }

@media (min-width: 768px) {  
  body {
    color: blue;
  }
  li{
    width: 30%;
  }
}
